# MythicTotem by @PQguanfang
#
# READ THE WIKI: mythictotem.superiormc.cn
debug: false
cooldown-tick: 5
# Premium version only.
check-prices: true
check-protection:
  can-build: false
  can-break: false
  can-interact: false
  can-use: false
register-libreforge: false
disappear:
  BukkitAPI:
    # This BukkitAPI option can not be disabled!
    # If you are facing totem blocks not disappear issue, you can try enabled below options.
    # However, they are not fully tested and will lead unknown issues!
    enabled: true
  BlockDamageEvent:
    enabled: false
  BlockBreakEvent:
    enabled: false
trigger:
  BlockPlaceEvent:
    enabled: true
    require-shift: false
    black-creative-mode: false
  PlayerInteractEvent:
    enabled: false
    require-shift: true
    black-creative-mode: false
  PlayerDropItemEvent:
    enabled: false
    require-shift: false
    black-creative-mode: false
  # This event does not support get the player object, so cooldown-tick option does not effect this trigger.
  # And all actions and conditions that related to player is can not be used.
  # And all placeholders that related to player also can not be used.
  # Otherwise you will get tons of errors on console!!!
  BlockRedstoneEvent:
    enabled: true
  # Will check end crystal only.
  EntityPlaceEvent:
    enabled: true
    require-shift: false
    black-creative-mode: false
